@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #909394;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

.container {
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 50px 50px;
  max-width: 100%;
  width: 500px;
  background-color: white;
}

.threedots {
  width: 20px;
  height: 40px;
  background-image: radial-gradient(circle, rgb(173, 159, 159) 5px, transparent 2px);
  background-size: 100% 35%;
}

.item-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: #909394 solid 1px;
}

.title {
  margin-left: 5rem;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.input {
  margin-left: 3rem;
  width: 100%;
  margin-top: 2rem;
}

input:focus {
  border: none;
  outline: none;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-refresh .fa-spin {
  display: inline-block;
}

#item-0 {
  border-top: #909394 solid 1px;
}

.input input {
  font-size: 15px;
  width: 80%;
  padding: 10px 0;
  font-style: italic;
  border: none;
}

.todo-items {
  width: 100%;
  padding-left: 2rem;
}

.completed-tasks button {
  width: 100%;
  margin-top: 3rem;
}

h3 {
  margin: 0;
  opacity: 0.5;
  letter-spacing: 2px;
}

img {
  width: 100px;
  margin-bottom: 20px;
}

.joke {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
}

.btn {
  background-color: #909394;
  color: #f4f4f4;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}
